<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :role %><br>
    <%= f.select :role, ['Admin', 'Attendant', 'Worker', 'Employer'] %>
  </div>

  </br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

